<h1>Listing players</h1>

<table id="players-table">
  <tr>
    <th>Player name</th>
    <th>Score</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Player</a>