<h1>New player</h1>

<form id="new-player" name="player">
  <div class="field">
    <label for="player_name"> player_name:</label>
    <input type="text" name="player_name" id="player_name" value=<%= player_name %> >
  </div>

  <div class="field">
    <label for="score"> score:</label>
    <input type="text" name="score" id="score" value=<%= score %> >
  </div>

  <div class="actions">
    <input type="submit" value="Create Player" />
  </div>

</form>

<a href="#/index">Back</a>