<h1>Listing game_scores</h1>

<table id="game_scores-table">
  <tr>
    <th>Team</th>
    <th>Score</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Game score</a>